* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1560px;
  padding: 0 15px;
  margin: 0 auto;
}

.slogan {
  font-weight: 300;
  font-size: 20px;
  color: #000;
  line-height: 1.2;
  text-align: center;
  width: 490px;
  border-top: 2px solid #2f4583;
  border-bottom: 2px solid #2f4583;
  padding: 26px 0;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: #2f4583;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: #fff;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.btn:hover {
  background-color: #3963da;
  border-color: #3963da;
}

.header {
  height: 100vh;
}

.header__wrap {
  height: 90px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding-top: 20px;
}

.header__wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f4583;
  z-index: 2;
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.logo {
  z-index: 5;
}

.menu__btn {
  display: block;
  position: relative;
  width: 26px;
  height: 20px;
  background-color: transparent;
  z-index: 5;
}

.menu__btn:hover {
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  opacity: 0.5;
}

.menu__btn span {
  position: absolute;
  left: 0;
  top: 8px;
  width: 100%;
  height: 4px;
  background-color: #fff;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.menu__btn::before, .menu__btn::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.menu__btn::before {
  top: 0;
}

.menu__btn::after {
  bottom: 0;
}

.menu__btn.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu__btn.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.menu__btn.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}

.menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.menu__list {
  display: block;
  width: 100%;
  background-color: #2f4583;
  text-align: center;
  padding: 30px;
}

.menu__list li {
  padding: 10px;
}

.menu__list a {
  display: block;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.menu__list a:hover {
  opacity: 0.5;
}

.menu.active {
  display: block;
  top: 90px;
}

body.lock {
  overflow: hidden;
}

.contacts {
  z-index: 5;
}

.contacts a {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.phone {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
}

.phone:hover {
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  opacity: 0.5;
}

.email {
  font-size: 14px;
}

.email:hover {
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  opacity: 0.5;
}

.top {
  position: relative;
  background-color: #2f4583;
  height: 100%;
}

.top__img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top__img img {
  width: 100%;
}

.top__inner {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  text-align: left;
  z-index: 10;
}

.top__title {
  font-weight: 100;
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 45px;
}

.top__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 190px;
}

.top__item1, .top__item2 {
  position: relative;
  width: 242px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 50px;
}

.top__item1::before, .top__item2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.top__item1::before {
  background-image: url("./../img/icons/zoom.png");
}

.top__item2::before {
  background-image: url("./../img/icons/check.png");
}

.top__menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.top__menu li {
  z-index: 10;
}

.top__menu li + li {
  margin-left: 125px;
}

.top__menu a {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.846;
  letter-spacing: 0.325px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 2px solid #fff;
}

.top__menu a:hover {
  opacity: 0.5;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.projects {
  padding: 158px 0 165px;
}

.projects__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 159px;
}

.projects__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin-bottom: 77px;
}

.projects__item img {
  display: block;
  height: 40px;
  margin-bottom: 10px;
}

.projects__item p {
  width: 130px;
  font-size: 14px;
  text-align: center;
}

.projects__link {
  margin-top: 15px;
  text-align: center;
}

.projects__link-btn {
  padding: 0 46px;
}

.description {
  padding-bottom: 125px;
}

.description__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 763px;
  width: 100%;
  margin-bottom: 44px;
}

.description__left {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: 30px;
}

.description__left-top {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description__left-top .description__block1 {
  width: 48%;
}

.description__left-top .description__block2 {
  width: 48%;
}

.description__left-bottom {
  width: 100%;
}

.description__block3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -15px;
}

.description__block1 p,
.description__block2 p,
.description__block3 p {
  margin-top: 1px;
  font-weight: 300;
  font-size: 11px;
  color: #7e7e7e;
}

.description__block1-img,
.description__block2-img,
.description__block3-img,
.description__block4-img {
  display: inline-block;
  background-color: #2f4583;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
}

.description__block1-img {
  height: 350px;
  max-width: 358px;
  background-image: url("./../img/description/desc1.jpg");
}

.description__block2-img {
  height: 350px;
  max-width: 358px;
  background-image: url("./../img/description/desc2.jpg");
}

.description__block3-img {
  height: 369px;
  max-width: 748px;
  background-image: url("./../img/description/desc3.jpg");
}

.description__block4-img {
  height: 763px;
  max-width: 749px;
  background-image: url("./../img/description/desc4.jpg");
}

.description__right {
  position: relative;
  width: 50%;
  max-width: 749px;
  max-height: 763px;
  color: #fff;
}

.description__right-text {
  position: absolute;
  top: 32px;
  left: 67px;
}

.description__right-title {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 38px;
}

.description__right-list li {
  font-size: 16px;
  margin-bottom: 31px;
}

.description__right-list li span {
  font-size: 20px;
  margin-right: 15px;
}

.description__link {
  text-align: center;
}

.description__link-btn {
  padding: 0 57px;
}
/*# sourceMappingURL=style.css.map */