@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1;
}

.container {
  max-width: 1560px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
}

.slogan {
  font-weight: 300;
  font-size: 20px;
  color: #000;
  line-height: 1.2;
  text-align: center;
  width: 490px;
  border-top: 2px solid #2f4583;
  border-bottom: 2px solid #2f4583;
  padding: 26px 0;
  margin: 0 auto;
}

@media (max-width: 1170px) {
  .slogan {
    font-size: 18px;
    width: 420px;
  }
}

@media (max-width: 480px) {
  .slogan {
    width: 300px;
  }
}

.btn {
  display: inline-block;
  background-color: #2f4583;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: #fff;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.btn:hover, .btn:focus {
  background-color: #3963da;
  border-color: #3963da;
}

@media (max-width: 440px) {
  .btn {
    font-size: 14px;
  }
}

.title {
  font-weight: 300;
  font-size: 28px;
  color: #2f4583;
  text-align: center;
}

@media (max-width: 1170px) {
  .title {
    font-size: 24px;
  }
}

.none {
  display: none;
}

.header {
  height: 100vh;
}

.header__wrap {
  height: 90px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding-top: 20px;
}

@media (max-width: 580px) {
  .header__wrap {
    height: 70px;
    padding-top: 10px;
  }
}

.header__wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f4583;
  z-index: 2;
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.logo {
  z-index: 5;
}

@media (max-width: 580px) {
  .logo img {
    height: 55px;
  }
}

.menu__btn {
  display: block;
  position: relative;
  width: 26px;
  height: 20px;
  background-color: transparent;
  z-index: 5;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.menu__btn:hover, .menu__btn:focus {
  opacity: 0.5;
}

.menu__btn span {
  position: absolute;
  left: 0;
  top: 8px;
  width: 100%;
  height: 4px;
  background-color: #fff;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.menu__btn::before, .menu__btn::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.menu__btn::before {
  top: 0;
}

.menu__btn::after {
  bottom: 0;
}

.menu__btn.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu__btn.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.menu__btn.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}

.menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.menu__list {
  display: block;
  width: 100%;
  background-color: #2f4583;
  text-align: center;
  padding: 30px;
}

.menu__list li {
  padding: 10px;
}

.menu__list a {
  display: block;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.menu__list a:hover,
.menu__list a:focus {
  opacity: 0.5;
}

.menu.active {
  display: block;
  top: 90px;
}

body.lock {
  overflow: hidden;
}

.header__contacts {
  z-index: 5;
}

.header__contacts a {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 460px) {
  .header__contacts {
    display: none;
  }
}

.header__phone {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

@media (max-width: 580px) {
  .header__phone {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.header__phone:hover, .header__phone:focus {
  opacity: 0.5;
}

.header__email {
  font-size: 14px;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

@media (max-width: 580px) {
  .header__email {
    font-size: 13px;
  }
}

.header__email:hover, .header__email:focus {
  opacity: 0.5;
}

.top {
  position: relative;
  background-color: #2f4583;
  height: 100%;
}

.top__img {
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top__img img {
  width: 100%;
}

@media (max-width: 540px) {
  .top__img {
    display: none;
  }
}

.top__inner {
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  text-align: left;
  z-index: 10;
}

.top__title {
  font-weight: 100;
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 45px;
}

@media (max-width: 1170px) {
  .top__title {
    font-size: 44px;
  }
}

@media (max-width: 970px) {
  .top__title {
    font-size: 40px;
  }
}

@media (max-width: 750px) {
  .top__title {
    font-size: 36px;
  }
}

@media (max-width: 540px) {
  .top__title {
    font-size: 30px;
  }
}

@media (max-width: 440px) {
  .top__title {
    font-size: 26px;
  }
}

.top__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 190px;
}

@media (max-width: 540px) {
  .top__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
}

.top__item1, .top__item2 {
  position: relative;
  width: 242px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 50px;
}

@media (max-width: 1170px) {
  .top__item1, .top__item2 {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .top__item1, .top__item2 {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.top__item1::before, .top__item2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.top__item1::before {
  background-image: url("./../img/icons/zoom.png");
}

.top__item2::before {
  background-image: url("./../img/icons/check.png");
}

.top__menu {
  width: 850px;
}

@media (max-width: 900px) {
  .top__menu {
    width: 700px;
  }
}

@media (max-width: 740px) {
  .top__menu {
    width: 600px;
  }
}

@media (max-width: 650px) {
  .top__menu {
    display: none;
  }
}

.top__menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__menu li {
  z-index: 10;
}

.top__menu a {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.846;
  letter-spacing: 0.325px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 2px solid #fff;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.top__menu a:hover, .top__menu a:focus {
  opacity: 0.5;
}

@media (max-width: 750px) {
  .top__menu a {
    font-size: 12px;
  }
}

.projects {
  padding: 158px 0 165px;
}

@media (max-width: 1170px) {
  .projects {
    padding-bottom: 130px;
  }
}

@media (max-width: 970px) {
  .projects {
    padding: 120px 0;
  }
}

@media (max-width: 750px) {
  .projects {
    padding-top: 90px 0 100px;
  }
}

.projects__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 159px;
}

@media (max-width: 1170px) {
  .projects__items {
    margin-top: 110px;
  }
}

@media (max-width: 750px) {
  .projects__items {
    margin-top: 90px;
  }
}

.projects__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin-bottom: 77px;
}

@media (max-width: 750px) {
  .projects__item {
    width: 48%;
  }
}

.projects__item img {
  display: block;
  height: 40px;
  margin-bottom: 10px;
}

.projects__item p {
  width: 130px;
  font-size: 14px;
  text-align: center;
}

.projects__link {
  margin-top: 15px;
  text-align: center;
}

.projects__link-btn {
  padding: 0 46px;
}

.description {
  padding-bottom: 125px;
}

@media (max-width: 750px) {
  .description {
    padding-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .description {
    padding-bottom: 80px;
  }
}

.description__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 763px;
  width: 100%;
  margin-bottom: 44px;
}

@media (max-width: 750px) {
  .description__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
}

.description__left {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: 30px;
}

@media (max-width: 940px) {
  .description__left {
    width: 40%;
  }
}

@media (max-width: 750px) {
  .description__left {
    width: 100%;
    margin-right: 0;
  }
}

.description__left-top {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 940px) {
  .description__left-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 750px) {
  .description__left-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 20px;
  }
}

.description__left-top .description__block1 {
  width: 48%;
}

@media (max-width: 940px) {
  .description__left-top .description__block1 {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .description__left-top .description__block1 {
    width: 48%;
  }
}

.description__left-top .description__block2 {
  width: 48%;
}

@media (max-width: 940px) {
  .description__left-top .description__block2 {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .description__left-top .description__block2 {
    width: 48%;
  }
}

.description__left-bottom {
  width: 100%;
}

.description__block3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -15px;
}

@media (max-width: 750px) {
  .description__block3 {
    position: unset;
    margin-bottom: 0;
  }
}

.description__block1 p,
.description__block2 p,
.description__block3 p {
  margin-top: 1px;
  font-weight: 300;
  font-size: 11px;
  color: #7e7e7e;
}

.description__block1-img,
.description__block2-img,
.description__block3-img,
.description__block4-img {
  display: inline-block;
  background-color: #2f4583;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
}

.description__block1-img {
  height: 350px;
  max-width: 358px;
  background-image: url("./../img/description/desc1.jpg");
}

@media (max-width: 940px) {
  .description__block1-img {
    height: 200px;
  }
}

.description__block2-img {
  height: 350px;
  max-width: 358px;
  background-image: url("./../img/description/desc2.jpg");
}

@media (max-width: 940px) {
  .description__block2-img {
    height: 200px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (max-width: 750px) {
  .description__block2-img {
    position: unset;
    top: auto;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
  }
}

.description__block3-img {
  height: 369px;
  max-width: 748px;
  background-image: url("./../img/description/desc3.jpg");
}

@media (max-width: 940px) {
  .description__block3-img {
    height: 200px;
    width: 100%;
  }
}

.description__block4-img {
  height: 763px;
  max-width: 749px;
  background-image: url("./../img/description/desc4.jpg");
}

.description__right {
  position: relative;
  width: 50%;
  max-width: 749px;
  max-height: 763px;
  color: #fff;
}

@media (max-width: 940px) {
  .description__right {
    width: 60%;
  }
}

@media (max-width: 750px) {
  .description__right {
    width: 100%;
    margin-bottom: 20px;
  }
}

.description__right-text {
  position: absolute;
  top: 32px;
  left: 67px;
}

@media (max-width: 1170px) {
  .description__right-text {
    left: 50px;
  }
}

@media (max-width: 930px) {
  .description__right-text {
    left: 40px;
  }
}

@media (max-width: 460px) {
  .description__right-text {
    left: 20px;
    right: 20px;
  }
}

.description__right-title {
  color: #fff;
  text-align: left;
  margin-bottom: 38px;
}

@media (max-width: 1170px) {
  .description__right-title {
    font-size: 24px;
  }
}

.description__right-list li {
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 31px;
}

@media (max-width: 440px) {
  .description__right-list li {
    margin-bottom: 30px;
  }
}

.description__right-list li span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 440px) {
  .description__right-list li span {
    font-size: 18px;
  }
}

.description__link {
  text-align: center;
}

.description__link-btn {
  padding: 0 57px;
}

.numbers {
  background-color: #f7f7f7;
  color: #2f4583;
  padding: 92px 0 90px;
}

@media (max-width: 750px) {
  .numbers {
    padding: 70px 0 0;
  }
}

.numbers__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 750px) {
  .numbers__inner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .numbers__inner .numbers__box-order1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .numbers__inner .numbers__box-order3 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .numbers__inner .numbers__box-order2 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .numbers__inner .numbers__box-order4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
}

.numbers__box {
  max-width: 280px;
}

@media (max-width: 750px) {
  .numbers__box {
    width: 48%;
    margin-bottom: 70px;
  }
}

@media (max-width: 480px) {
  .numbers__box {
    margin-bottom: 50px;
  }
}

.numbers__box-num {
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

@media (max-width: 970px) {
  .numbers__box-num {
    font-size: 56px;
  }
}

@media (max-width: 950px) {
  .numbers__box-num {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .numbers__box-num {
    font-size: 35px;
    margin-bottom: 18px;
  }
}

.numbers__box-text {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 1170px) {
  .numbers__box-text {
    font-size: 16px;
  }
}

@media (max-width: 970px) {
  .numbers__box-text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .numbers__box-text {
    font-size: 12px;
  }
}

.worktype {
  padding: 173px 0 158px;
}

@media (max-width: 1170px) {
  .worktype {
    padding: 145px 0 120px;
  }
}

@media (max-width: 970px) {
  .worktype {
    padding: 130px 0 120px;
  }
}

@media (max-width: 750px) {
  .worktype {
    padding: 120px 0 100px;
  }
}

@media (max-width: 480px) {
  .worktype {
    padding: 80px 0 70px;
  }
}

.worktype__title {
  text-align: center;
  margin-bottom: 78px;
}

@media (max-width: 1170px) {
  .worktype__title {
    margin-bottom: 40px;
  }
}

.worktype__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 815px;
  margin: 0 auto 103px;
}

@media (max-width: 600px) {
  .worktype__items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 440px) {
  .worktype__items {
    margin-bottom: 70px;
  }
}

.worktype__item {
  width: 140px;
  height: 140px;
  text-align: center;
  border: 2px solid #2f4583;
  padding: 20px 10px 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

@media (max-width: 1170px) {
  .worktype__item {
    width: 125px;
    height: 125px;
  }
}

@media (max-width: 600px) {
  .worktype__item {
    margin: 10px;
    width: 30%;
  }
}

@media (max-width: 440px) {
  .worktype__item {
    width: 100%;
  }
}

.worktype__item:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 440px) {
  .worktype__item:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

.worktype__item img {
  height: 36px;
  margin-bottom: 25px;
}

@media (max-width: 1170px) {
  .worktype__item img {
    height: 30px;
    margin-bottom: 20px;
  }
}

.worktype__item p {
  font-size: 16px;
  line-height: 1.1;
  color: #2f4583;
}

@media (max-width: 1170px) {
  .worktype__item p {
    font-size: 14px;
  }
}

.worktype__form {
  display: none;
  -webkit-box-shadow: 34px 34px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 34px 34px 50px rgba(0, 0, 0, 0.25);
  margin: 0 auto 150px;
}

@media (max-width: 460px) {
  .worktype__form {
    margin-bottom: 100px;
  }
}

.worktype__form-title {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: #2f4583;
  margin-bottom: 35px;
}

@media (max-width: 480px) {
  .worktype__form-title {
    font-size: 20px;
  }
}

.worktype .slogan {
  max-width: 560px;
  font-size: 18px;
  padding: 29px 0 30px;
}

.guarantee {
  background-color: #f7f7f7;
  padding: 61px 0 24px;
}

.guarantee__title {
  margin-bottom: 59px;
}

.guarantee__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guarantee__item {
  background-color: #fff;
  width: 32%;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 40px 27px 30px;
  margin-bottom: 50px;
}

@media (max-width: 950px) {
  .guarantee__item {
    width: 48%;
  }
}

@media (max-width: 660px) {
  .guarantee__item {
    width: 100%;
  }
}

.guarantee__item-num {
  font-weight: 500;
  font-size: 40px;
  color: #2f4583;
  margin-bottom: 18px;
}

@media (max-width: 1260px) {
  .guarantee__item-num {
    font-size: 36px;
  }
}

@media (max-width: 440px) {
  .guarantee__item-num {
    font-size: 34px;
  }
}

.guarantee__item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.guarantee__item p {
  line-height: 1.7;
}

@media (max-width: 1260px) {
  .guarantee__item p {
    line-height: 1.2;
  }
}

.guarantee__item p + p {
  margin-top: 30px;
}

.guarantee__item li {
  margin-left: 16px;
  line-height: 1.7;
}

.feadback {
  background-color: #2f4583;
  background-image: url("./../img/feadback-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 147px 0 187px;
}

@media (max-width: 1170px) {
  .feadback {
    padding: 80px 0;
  }
}

.feadback__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 890px) {
  .feadback__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feadback__text {
  max-width: 640px;
  color: #fff;
  font-weight: 300;
}

@media (max-width: 1050px) {
  .feadback__text {
    max-width: 380px;
  }
}

@media (max-width: 890px) {
  .feadback__text {
    max-width: 540px;
    text-align: center;
  }
}

.feadback__text-title {
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 52px;
}

@media (max-width: 1170px) {
  .feadback__text-title {
    font-size: 30px;
  }
}

@media (max-width: 590px) {
  .feadback__text-title {
    font-size: 24px;
  }
}

.feadback__text-contacts {
  font-size: 20px;
  line-height: 1.8;
}

@media (max-width: 1170px) {
  .feadback__text-contacts {
    font-size: 18px;
  }
}

@media (max-width: 890px) {
  .feadback__text-contacts {
    margin-bottom: 40px;
  }
}

@media (max-width: 590px) {
  .feadback__text-contacts {
    font-size: 16px;
  }
}

.feadback__text-contacts a {
  display: block;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.8;
  color: #fff;
}

@media (max-width: 1170px) {
  .feadback__text-contacts a {
    font-size: 18px;
  }
}

@media (max-width: 890px) {
  .feadback__text-contacts a {
    display: inline-block;
  }
}

@media (max-width: 590px) {
  .feadback__text-contacts a {
    font-size: 16px;
  }
}

@media (max-width: 890px) {
  .feadback__phone {
    margin-right: 15px;
  }
}

.feadback__phone, .feadback__email {
  padding-left: 27px;
  position: relative;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.feadback__phone:hover, .feadback__phone:focus, .feadback__email:hover, .feadback__email:focus {
  opacity: 0.5;
}

.feadback__phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("./../img/icons/phone.png");
  background-repeat: no-repeat;
}

@media (max-width: 1170px) {
  .feadback__phone::before {
    top: 7px;
  }
}

.feadback__email::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 19px;
  height: 16px;
  background-image: url("./../img/icons/email.png");
  background-repeat: no-repeat;
}

@media (max-width: 1170px) {
  .feadback__email::before {
    top: 8px;
  }
}

.feadback__form {
  max-width: 437px;
  background-color: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 42px 38px 35px;
  margin-top: 9px;
}

.feadback__form label {
  display: block;
  font-weight: 300;
  font-size: 14px;
  color: #525252;
  margin-bottom: 10px;
}

.feadback__form input {
  width: 100%;
  height: 50px;
  border: 1px solid #959595;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 0 15px;
  margin-bottom: 35px;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.feadback__form input:hover, .feadback__form input:focus {
  border: 2px solid #2f4583;
}

.feadback__form input[type="email"] {
  margin-bottom: 27px;
}

.feadback__form input[type="file"] {
  width: auto;
  height: auto;
  border: none;
  margin-bottom: 0;
  padding: 0;
}

.feadback__form .inputfile {
  position: absolute;
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  z-index: -1;
}

.feadback__form .inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
  background-color: #2f4583;
  color: #fff;
}

.feadback__form .inputfile + label {
  display: inline-block;
  width: 128px;
  background-color: #e5e5e5;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 12px;
  font-weight: 300;
  color: #525252;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  padding: 12px 5px;
  margin: 0 9px 23px 0;
}

@media (max-width: 460px) {
  .feadback__form .inputfile + label {
    margin-bottom: 10px;
  }
}

.feadback__form .inputfile + label:hover {
  background-color: #2f4583;
  color: #fff;
}

.feadback__form .spanfile {
  font-size: 11px;
  font-weight: 300;
  color: #525252;
}

@media (max-width: 460px) {
  .feadback__form .spanfile {
    display: block;
    margin-bottom: 30px;
  }
}

.feadback__form .check-box {
  display: inline-block;
  vertical-align: middle;
  margin-left: 35px;
}

.feadback__form input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;
}

.feadback__form input[type="checkbox"]:checked + .check-style::before {
  content: "";
  width: 24px;
  height: 24px;
  background-color: #2f4583;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.feadback__form input[type="checkbox"]:disabled + .check-style {
  border-color: #ccc;
}

.feadback__form input[type="checkbox"]:focus + .check-style {
  -webkit-box-shadow: 0 0 0 2px #000;
          box-shadow: 0 0 0 2px #000;
}

.feadback__form .check-style {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid #959595;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-top: -5px;
  margin-left: -35px;
}

.feadback__form-btn {
  display: block;
  padding: 0 79px;
  margin: 20px auto 0;
}

.completed {
  padding: 110px 0 145px;
  background-color: #f7f7f7;
}

@media (max-width: 1170px) {
  .completed {
    padding: 75px 0 110px;
  }
}

.completed__title {
  margin-bottom: 70px;
}

@media (max-width: 1170px) {
  .completed__title {
    margin-bottom: 40px;
  }
}

.completed__slider {
  position: relative;
}

.completed__slider > .slick-arrow {
  position: absolute;
  z-index: 2;
  font-size: 0;
  width: 12px;
  height: 40px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.completed__slider > .slick-arrow:hover {
  opacity: 0.4;
}

.completed__slider > .slick-arrow.slick-prev {
  position: absolute;
  left: 0;
  bottom: -65px;
  background: url("./../img/icons/arrow-left-completed.png") 0 0/100% no-repeat;
}

.completed__slider > .slick-arrow.slick-prev::after {
  position: absolute;
  top: 47%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 26px;
  content: "Предыдущий проект";
  font-weight: 300;
  font-size: 12px;
  text-align: left;
  color: #818181;
}

.completed__slider > .slick-arrow.slick-next {
  position: absolute;
  right: 0;
  bottom: -65px;
  background: url("./../img/icons/arrow-right-completed.png") 0 0/100% no-repeat;
}

.completed__slider > .slick-arrow.slick-next::before {
  position: absolute;
  top: 47%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 27px;
  content: "Следующий проект";
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #818181;
}

.completed__slider > .slick-dots {
  position: absolute;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%;
  margin-top: 39px;
}

.completed__slider > .slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0px 20px;
  padding: 0px;
  cursor: pointer;
}

.completed__slider > .slick-dots li span {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #818181;
  font-weight: 300;
  font-size: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  padding-bottom: 6px;
}

.completed__slider > .slick-dots li.slick-active span {
  color: #2f4583;
  border-bottom: 3px solid #2f4583;
}

.completed__slider .completed__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 370px 175px;
      grid-template-rows: 370px 175px;
  grid-gap: 17px 27px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 1450px) {
  .completed__slider .completed__item {
    -ms-grid-rows: 560px 175px;
        grid-template-rows: 560px 175px;
    grid-gap: 15px;
  }
}

@media (max-width: 990px) {
  .completed__slider .completed__item {
    -ms-grid-rows: 370px 370px 175px;
        grid-template-rows: 370px 370px 175px;
  }
}

@media (max-width: 740px) {
  .completed__slider .completed__item {
    -ms-grid-rows: 400px 330px 175px;
        grid-template-rows: 400px 330px 175px;
  }
}

@media (max-width: 690px) {
  .completed__slider .completed__item {
    -ms-grid-rows: 390px 300px;
        grid-template-rows: 390px 300px;
  }
}

@media (max-width: 560px) {
  .completed__slider .completed__item {
    -ms-grid-rows: 400px 300px;
        grid-template-rows: 400px 300px;
  }
}

@media (max-width: 370px) {
  .completed__slider .completed__item {
    -ms-grid-rows: 470px 300px;
        grid-template-rows: 470px 300px;
  }
}

.completed__slider .completed__item div {
  overflow: hidden;
}

.completed__slider .completed__item div:nth-child(1) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  height: 563px;
}

@media (max-width: 1450px) {
  .completed__slider .completed__item div:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

@media (max-width: 990px) {
  .completed__slider .completed__item div:nth-child(1) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    height: 100%;
    width: 100%;
  }
}

.completed__slider .completed__item .item__single > div {
  display: block;
  max-width: 750px;
  max-height: 565px;
}

@media (max-width: 990px) {
  .completed__slider .completed__item .item__single > div {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}

.completed__slider .completed__item .item__single > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.completed__slider .completed__item .item__desc {
  background-color: #fff;
  line-height: 1.2;
  padding: 35px 40px;
}

@media (max-width: 1450px) {
  .completed__slider .completed__item .item__desc {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    height: 563px;
  }
}

@media (max-width: 990px) {
  .completed__slider .completed__item .item__desc {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    height: auto;
  }
}

@media (max-width: 445px) {
  .completed__slider .completed__item .item__desc {
    padding: 20px 25px;
  }
}

.completed__slider .completed__item .item__desc-title {
  font-weight: 500;
  font-size: 20px;
  color: #2f4583;
  margin-bottom: 10px;
}

@media (max-width: 740px) {
  .completed__slider .completed__item .item__desc-title {
    font-size: 18px;
  }
}

@media (max-width: 530px) {
  .completed__slider .completed__item .item__desc-title {
    font-size: 16px;
  }
}

.completed__slider .completed__item .item__desc-subtitle {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.2;
  color: #787878;
  margin-bottom: 30px;
}

@media (max-width: 530px) {
  .completed__slider .completed__item .item__desc-subtitle {
    margin-bottom: 20px;
  }
}

.completed__slider .completed__item .item__desc-text {
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 530px) {
  .completed__slider .completed__item .item__desc-text {
    margin-bottom: 20px;
  }
}

.completed__slider .completed__item .item__desc-text span {
  font-size: 12px;
  color: #2f4583;
  margin-right: 10px;
}

.completed__slider .completed__item .item__desc-task, .completed__slider .completed__item .item__desc-period, .completed__slider .completed__item .item__desc-tep {
  position: relative;
  padding-left: 25px;
}

@media (max-width: 530px) {
  .completed__slider .completed__item .item__desc-task, .completed__slider .completed__item .item__desc-period, .completed__slider .completed__item .item__desc-tep {
    padding-left: 0;
  }
}

.completed__slider .completed__item .item__desc-task::before, .completed__slider .completed__item .item__desc-period::before, .completed__slider .completed__item .item__desc-tep::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
}

@media (max-width: 530px) {
  .completed__slider .completed__item .item__desc-task::before, .completed__slider .completed__item .item__desc-period::before, .completed__slider .completed__item .item__desc-tep::before {
    display: none;
  }
}

.completed__slider .completed__item .item__desc-task::before {
  background-image: url("./../img/icons/task.png");
}

.completed__slider .completed__item .item__desc-period::before {
  background-image: url("./../img/icons/period.png");
}

.completed__slider .completed__item .item__desc-tep div > p {
  margin-bottom: 5px;
}

@media (max-width: 530px) {
  .completed__slider .completed__item .item__desc-tep div > p {
    margin-bottom: 0;
  }
}

.completed__slider .completed__item .item__desc-tep::before {
  background-image: url("./../img/icons/tep.png");
}

@media (max-width: 1450px) {
  .completed__slider .completed__item .item__nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

@media (max-width: 990px) {
  .completed__slider .completed__item .item__nav {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media (max-width: 690px) {
  .completed__slider .completed__item .item__nav {
    display: none;
  }
}

.completed__slider .completed__item .item__nav > div * {
  position: relative;
  display: block;
  margin: 0 10px;
}

@media (max-width: 1550px) {
  .completed__slider .completed__item .item__nav > div * {
    margin: 0 5px;
  }
}

.completed__slider .completed__item .item__nav > div * img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.completed__slider .completed__item .item__nav .slick-slider {
  min-width: 0;
}

.completed__slider .completed__item .item__nav div.slick-slide {
  cursor: pointer;
  width: 250px;
  height: 175px;
}

.completed__slider .completed__item .item__nav .slick-list {
  overflow: hidden;
  margin: 0 -31px;
}

.completed__slider .completed__item .item__nav .slick-list .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.completed__slider .completed__item .item__nav .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  font-size: 0;
  width: 30px;
  height: 30px;
  background-color: #2f4583;
}

.completed__slider .completed__item .item__nav .slick-arrow.slick-prev {
  left: 0;
  background: url("./../img/icons/arrow-point-to-left.svg") 40% 50%/50% no-repeat, #2f4583;
}

.completed__slider .completed__item .item__nav .slick-arrow.slick-next {
  right: 0;
  background: url("./../img/icons/arrow-point-to-right.svg") 60% 50%/50% no-repeat, #2f4583;
}

.reviews {
  background-color: #2f4583;
  padding: 67px 0 50px;
}

.reviews__title {
  color: #fff;
  margin-bottom: 70px;
}

@media (max-width: 970px) {
  .reviews__title {
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .reviews__title {
    margin-bottom: 40px;
  }
}

.reviews__item {
  position: relative;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
}

.reviews__item a {
  display: block;
}

.reviews__item img {
  width: 195px;
  height: 270px;
  margin: 0 auto 50px;
}

@media (max-width: 970px) {
  .reviews__item img {
    width: 135px;
    height: 180px;
  }
}

@media (max-width: 480px) {
  .reviews__item img {
    margin-bottom: 40px;
  }
}

.reviews__item-desc {
  max-width: 750px;
  min-height: 220px;
  text-align: center;
  margin: 0 auto;
}

.reviews__item-text {
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 24px;
}

@media (max-width: 1170px) {
  .reviews__item-text {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .reviews__item-text {
    font-size: 13px;
  }
}

.reviews__item-author {
  color: #8999c7;
  margin-bottom: 5px;
}

@media (max-width: 1170px) {
  .reviews__item-author {
    font-size: 13px;
  }
}

@media (max-width: 540px) {
  .reviews__item-author {
    font-size: 12px;
  }
}

.reviews__item-position {
  color: #8999c7;
  font-size: 12px;
  line-height: 1.2;
  max-width: 350px;
  margin: 0 auto;
}

.reviews__slider .slick-slider {
  min-width: 0;
}

.reviews__slider .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.reviews__slider .slick-list {
  overflow: hidden;
}

.reviews__slider .slider__item {
  padding: 0px 15px;
}

.reviews__slider .slider__item img {
  max-width: 100%;
}

.reviews__slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -15px 0 0 0;
  z-index: 2;
  font-size: 0;
  width: 12px;
  height: 40px;
}

.reviews__slider .slick-arrow.slick-prev {
  left: 0;
  background: url("./../img/icons/arrow-left.png") 0 0/100% no-repeat;
}

.reviews__slider .slick-arrow.slick-next {
  right: 0;
  background: url("./../img/icons/arrow-right.png") 0 0/100% no-repeat;
}

.clients {
  padding: 116px 0 138px;
}

@media (max-width: 1000px) {
  .clients {
    padding: 90px 0 100px;
  }
}

@media (max-width: 750px) {
  .clients {
    padding: 70px 0 100px;
  }
}

.clients-title {
  margin-bottom: 83px;
}

@media (max-width: 1170px) {
  .clients-title {
    margin-bottom: 70px;
  }
}

.clients__item {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
}

.clients__item-img {
  position: relative;
  height: 90px;
  margin-bottom: 15px;
}

.clients__item-img img {
  height: 100%;
}

.clients__item-text {
  font-size: 11px;
  color: #7a7a7a;
  text-align: center;
}

.clients__slider {
  position: relative;
  padding: 0px 60px;
}

.clients__slider .slick-slider {
  min-width: 0;
}

.clients__slider .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.clients__slider .slick-list {
  overflow: hidden;
}

.clients__slider .slider__item {
  padding: 0px 15px;
}

.clients__slider .slider__item img {
  max-width: 100%;
}

.clients__slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -15px 0 0 0;
  z-index: 2;
  font-size: 0;
  width: 12px;
  height: 40px;
}

.clients__slider .slick-arrow.slick-prev {
  left: 0;
  background: url("./../img/icons/arrow-left.png") 0 0/100% no-repeat;
}

.clients__slider .slick-arrow.slick-next {
  right: 0;
  background: url("./../img/icons/arrow-right.png") 0 0/100% no-repeat;
}

.licenses {
  background-color: #f7f7f7;
  padding: 87px 0 140px;
}

.licenses__title {
  color: #000;
  margin-bottom: 80px;
}

.licenses__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.licenses__text {
  max-width: 520px;
}

.licenses__text-title {
  max-width: 392px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  margin-bottom: 30px;
}

.licenses__text-subtitle {
  font-weight: 300;
}

.licenses__form {
  width: 290px;
  background-color: transparent;
  padding: 35px 0 0;
}

.licenses__form-btn {
  padding: 0 40px;
  margin: 20px 0 0;
}

.licenses__documents {
  max-width: 780px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 110px;
     -moz-column-gap: 110px;
          column-gap: 110px;
  row-gap: 35px;
}

.licenses__documents-item img {
  width: auto;
  height: 250px;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.2);
}

.licenses__documents-item p {
  font-size: 12px;
  line-height: 1.1;
  color: #686767;
  text-align: center;
  padding: 0 10px;
}

.contacts__wrap {
  position: relative;
}

.contacts__map {
  z-index: 1;
}

.contacts__form {
  position: absolute;
  bottom: 65px;
  left: 0;
  z-index: 50;
  max-width: 390px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #2f4583;
  color: #fff;
  padding: 45px 50px 45px 55px;
}

.contacts__form-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 45px;
}

.contacts__form-tel, .contacts__form-mail {
  display: block;
  font-size: 18px;
  color: #fff;
  padding-left: 30px;
  margin-bottom: 40px;
}

.contacts__form-address {
  font-size: 16px;
  padding-left: 30px;
  margin-bottom: 15px;
}

.contacts__form-tel, .contacts__form-mail, .contacts__form-address {
  position: relative;
}

.contacts__form-tel::before, .contacts__form-mail::before, .contacts__form-address::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
}

.contacts__form-tel::before {
  background-image: url("./../img/icons/contacts-phone.png");
}

.contacts__form-mail::before {
  background-image: url("./../img/icons/contacts-email.png");
}

.contacts__form-address::before {
  background-image: url("./../img/icons/contacts-address.png");
}

.contacts__form-work {
  padding-left: 30px;
  margin-bottom: 39px;
}

.contacts__form-btn {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: #fff;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  padding: 0 60px;
}

.contacts__form-btn:hover, .contacts__form-btn:focus {
  background-color: #fff;
  color: #2f4583;
}

.footer {
  background-color: #2f4583;
  padding: 37px 0 40px;
}

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
}

.footer__info {
  text-transform: uppercase;
}

.footer__info span + span {
  margin-left: 15px;
}
/*# sourceMappingURL=style.css.map */