.contacts__wrap {
  position: relative;
}

.contacts__map {
  z-index: 1;

  @media (max-width: 560px) {
    display: none;
  }
}

.contacts .container-fluid {
  @media (max-width: 560px) {
    background-color: $colorMain;
  }
}

.contacts__form {
  position: absolute;
  bottom: 65px;
  left: 0;
  z-index: 50;

  max-width: 390px;
  border-radius: 4px;
  background-color: $colorMain;
  color: #fff;
  padding: 45px 50px 45px 55px;

  @media (max-width: 560px) {
    position: unset;
    max-width: none;
  }

  @media (max-width: 420px) {
    padding: 45px 30px;
  }

  &-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 45px;

    @media (max-width: 370px) {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }

  &-tel,
  &-mail {
    display: block;
    font-size: 18px;
    color: #fff;
    padding-left: 30px;
    margin-bottom: 40px;

    @media (max-width: 370px) {
      font-size: 14px;
      margin-bottom: 25px;
    }
  }

  &-address {
    font-size: 16px;
    padding-left: 30px;
    margin-bottom: 15px;

    @media (max-width: 370px) {
      font-size: 14px;
    }
  }

  &-tel,
  &-mail,
  &-address {
    position: relative;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &-tel {
    &::before {
      background-image: url('./../img/icons/contacts-phone.png');
    }
  }

  &-mail {
    &::before {
      background-image: url('./../img/icons/contacts-email.png');
    }
  }

  &-address {
    &::before {
      background-image: url('./../img/icons/contacts-address.png');
    }
  }

  &-work {
    padding-left: 30px;
    margin-bottom: 39px;

    @media (max-width: 370px) {
      font-size: 12px;
    }
  }

  &-btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
    color: #fff;
    transition: all .3s linear;
    padding: 0 60px;

    @media (max-width: 370px) {
      font-size: 14px;
    }

    &:hover,
    &:focus {
      background-color: #fff;
      color: $colorMain;
    }
  }
}