.description {
  padding-bottom: 125px;

  @media (max-width: 750px) {
    padding-bottom: 100px;
  }

  @media (max-width: 480px) {
    padding-bottom: 80px;
  }
}

.description__inner {
  display: flex;
  justify-content: space-between;
  height: 763px;
  width: 100%;
  margin-bottom: 44px;

  @media (max-width: 750px) {
    flex-direction: column-reverse;
    height: auto;
  }
}

.description__left {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 30px;

  @media (max-width: 940px) {
    width: 40%;
  }

  @media (max-width: 750px) {
    width: 100%;
    margin-right: 0;
  }

  &-top {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 940px) {
      flex-direction: column;
    }

    @media (max-width: 750px) {
      flex-direction: row;
      margin-bottom: 20px;
    }

    & .description__block1 {
      width: 48%;

      @media (max-width: 940px) {
        width: 100%;
      }

      @media (max-width: 750px) {
        width: 48%;
      }
    }

    & .description__block2 {
      width: 48%;

      @media (max-width: 940px) {
        width: 100%;
      }

      @media (max-width: 750px) {
        width: 48%;
      }
    }
  }

  &-bottom {
    width: 100%;
  }
}

.description__block3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -15px;

  @media (max-width: 750px) {
    position: unset;
    margin-bottom: 0;
  }
}

.description__block1,
.description__block2,
.description__block3 {
  & p {
    margin-top: 1px;
    font-weight: 300;
    font-size: 11px;
    color: #7e7e7e;
  }
}

.description__block1-img,
.description__block2-img,
.description__block3-img,
.description__block4-img {
  display: inline-block;
  background-color: $colorMain;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.description__block1-img {
  height: 350px;
  max-width: 358px;
  background-image: url('./../img/description/desc1.jpg');

  @media (max-width: 940px) {
    height: 200px;
  }
}

.description__block2-img {
  height: 350px;
  max-width: 358px;
  background-image: url('./../img/description/desc2.jpg');

  @media (max-width: 940px) {
    height: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (max-width: 750px) {
    position: unset;
    top: auto;
    transform: unset;
  }
}

.description__block3-img {
  height: 369px;
  max-width: 748px;
  background-image: url('./../img/description/desc3.jpg');

  @media (max-width: 940px) {
    height: 200px;
    width: 100%;
  }
}

.description__block4-img {
  height: 763px;
  max-width: 749px;
  background-image: url('./../img/description/desc4.jpg');
}

.description__right {
  position: relative;
  width: 50%;
  max-width: 749px;
  max-height: 763px;
  color: #fff;

  @media (max-width: 940px) {
    width: 60%;
  }

  @media (max-width: 750px) {
    width: 100%;
    margin-bottom: 20px;
  }

  &-text {
    position: absolute;
    top: 32px;
    left: 67px;

    @media (max-width: 1170px) {
      left: 50px;
    }

    @media (max-width: 930px) {
      left: 40px;
    }

    @media (max-width: 460px) {
      left: 20px;
      right: 20px;
    }
  }

  &-title {
    color: #fff;
    text-align: left;
    margin-bottom: 38px;

    @media (max-width: 1170px) {
      font-size: 24px;
    }
    @media (max-width: 350px) {
      margin-bottom: 32px;
    }
  }

  &-list li {
    font-size: 16px;
    display: flex;
    align-items: baseline;
    margin-bottom: 31px;

    @media (max-width: 440px) {
      margin-bottom: 30px;
    }

    & span {
      font-size: 20px;
      margin-right: 15px;

      @media (max-width: 440px) {
        font-size: 18px;
      }
    }
  }
}

.description__link {
  text-align: center;

  &-btn {
    padding: 0 57px;
  }
}