.guarantee {
  background-color: $colorBg;
  padding: 61px 0 24px;
}

.guarantee__title {
  margin-bottom: 59px;
}

.guarantee__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.guarantee__item {
  background-color: #fff;
  width: 32%;
  border-radius: 4px;
  padding: 40px 27px 30px;
  margin-bottom: 50px;

  @media (max-width: 950px) {
    width: 48%;
  }

  @media (max-width: 660px) {
    width: 100%;
  }

  &-num {
    font-weight: 500;
    font-size: 40px;
    color: $colorMain;
    margin-bottom: 18px;

    @media (max-width: 1260px) {
      font-size: 36px;
    }

    @media (max-width: 440px) {
      font-size: 34px;
    }
  }

  &-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 30px;
  }

  & p {
    line-height: 1.7;

    @media (max-width: 1260px) {
      line-height: 1.2;
    }
  }

  & p+p {
    margin-top: 30px;
  }

  & li {
    margin-left: 16px;
    line-height: 1.7;
  }
}