.licenses {
  background-color: $colorBg;
  padding: 87px 0 140px;
}

.licenses__title {
  color: #000;
  margin-bottom: 80px;
}

.licenses__inner {
  display: flex;
  justify-content: space-between;
}

.licenses__text {
  max-width: 520px;

  &-title {
    max-width: 392px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 30px;
  }

  &-subtitle {
    font-weight: 300;
  }
}

.licenses__form {
  width: 290px;
  background-color: transparent;
  padding: 35px 0 0;

  &-btn {
    padding: 0 40px;
    margin: 20px 0 0;
  }
}

.licenses__documents {
  max-width: 780px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 110px;
  row-gap: 35px;

  &-item {

    & img {
      width: auto;
      height: 250px;
      margin-bottom: 20px;
      box-shadow: 5px 5px 13px rgba($color: #000000, $alpha: 0.2);
    }

    & p {
      font-size: 12px;
      line-height: 1.1;
      color: #686767;
      text-align: center;
      padding: 0 10px;
    }

  }
}