.projects {
  padding: 158px 0 165px;

  @media (max-width: 1170px) {
    padding-bottom: 130px;
  }

  @media (max-width: 970px) {
    padding: 120px 0;
  }

  @media (max-width: 750px) {
    padding: 90px 0 100px;
  }
}

.projects {
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 159px;

    @media (max-width: 1170px) {
      margin-top: 110px;
    }

    @media (max-width: 750px) {
      margin-top: 90px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-bottom: 77px;

    @media (max-width: 750px) {
      width: 48%;
    }

    & img {
      display: block;
      height: 40px;
      margin-bottom: 10px;
    }

    & p {
      width: 130px;
      font-size: 14px;
      text-align: center;
    }
  }
}

.projects__link {
  margin-top: 15px;
  text-align: center;

  &-btn {
    padding: 0 46px;
  }
}