.top {
  position: relative;
  background-color: $colorMain;
  height: 100%;
}

.top__img {
  position: absolute;
  bottom: 0;
  & img {
    width: 100%;
  }
}

.top__inner {
  padding-top: 229px;
  color: #fff;
  text-align: left;
  z-index: 10;
}

.top__title {
  font-weight: 100;
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 45px;
}

.top {
  &__items {
    display: flex;
    margin-bottom: 190px;
  }

  &__item1,
  &__item2 {
    position: relative;
    width: 242px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 50px;
  }

  &__item1::before,
  &__item2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;    
  }
  &__item1::before {
    background-image: url('./../img/icons/zoom.png');
  }
  &__item2::before {
    background-image: url('./../img/icons/check.png');
  }
}

.top__menu {
  & ul {
    display: flex;
  }
  & li {
    z-index: 10;
  }
  & li + li {
    margin-left: 125px;
  }
  & a {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.846;
    letter-spacing: 0.325px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
    &:hover {
      opacity: 0.5;
      transition: all .3s ease 0s;
    }
  }
}
