// Thin 100
// Light 300
// Regular 400
// Medium 500

// @media (max-width: 1170px) {}
// @media (max-width: 970px) {}
// @media (max-width: 750px) {}
// @media (max-width: 540px) {}
// @media (max-width: 480px) {}
// @media (max-width: 440px) {}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1;
}

.container {
  max-width: 1560px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
}

.slogan {
  font-weight: 300;
  font-size: 20px;
  color: #000;
  line-height: 1.2;
  text-align: center;
  width: 490px;
  border-top: 2px solid $colorMain;
  border-bottom: 2px solid $colorMain;
  padding: 26px 0;
  margin: 0 auto;

  @media (max-width: 1170px) {
    font-size: 18px;
    width: 420px;
  }

  @media (max-width: 480px) {
    width: 300px;
  }
}

.btn {
  display: inline-block;
  background-color: $colorMain;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: #fff;
  transition: all .3s ease 0s;

  &:hover,
  &:focus {
    background-color: #3963da;
    border-color: #3963da;
  }

  @media (max-width: 440px) {
    font-size: 14px;
  }
}

.title {
  font-weight: 300;
  font-size: 28px;
  color: $colorMain;
  text-align: center;
  @media (max-width: 1170px) {
    font-size: 24px;
  }
}

.none {
  display: none;
}