// Thin 100
// Light 300
// Regular 400
// Medium 500


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1;
}

.container {
  max-width: 1560px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
}

.slogan {
  font-weight: 300;
  font-size: 20px;
  color: #000;
  line-height: 1.2;
  text-align: center;
  width: 490px;
  border-top: 2px solid $colorMain;
  border-bottom: 2px solid $colorMain;
  padding: 26px 0;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: $colorMain;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: #fff;
  transition: all .3s ease 0s;
  &:hover,
  &:focus {
    background-color: #3963da;
    border-color: #3963da;
  }
}

.title {
  font-weight: 300;
  font-size: 28px;
  color: $colorMain;
  text-align: center;
}